apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: nodejs-dykgjjwn
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/nodejs-dykgjjwn:789ffc9da5758c8da8bd11d2bdfe063db456466a@sha256:2518e27f7936869477b44fb55c5ddab9b755ecdc3cce6690e59974283ce7f447
          name: container-image
